body
{
    height: 100vh;
    background-color: #9683FA;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container
{
    position: relative;
    height: 60vh;
    width: 60vh;

}
.Card
{
    position: absolute;
    width: 100%;
    height:100%;
    transform-style: preserve-3d;
    transition: all 0.3s;
}
.flipped
{
    transform: rotateY(180deg);
}

.front
{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    backface-visibility: hidden;
    background: #9683FA;
} 

#form input
{
    height: 2.0rem;
    width: 22rem;
    color: #FFFFFF;
    background-color: rgba(255,255,255,.3);
    border: none;
}
#form input::placeholder
{
    color: #D0D3D4;
    padding: 2%;
}
.Front-button
{
    height: 2.0rem;
    width: 22rem;
    background-color: #27AE60;
    color: #ffffff;
    border: none;
    margin-top: 4%;
}
.Front-button:active
{
   border:none ;
}

.back
{
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    backface-visibility: hidden;
    color: white;
    transform: rotateY(180deg);
    background-color: #9683FA;
}
.back-input
{
   border: none;
   background-color: transparent;
   border-bottom: 2px solid #FFFFFF;

}